<div class="videos-carousel">
  <div class="videos-carousel__header">
    <h2>{{data.name}}</h2>
    <p>{{data.description}}</p>
  </div>
  <div class="videos-carousel__content">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let video of data.videos">
          <video-card [video]="video"></video-card>
        </div>
      </div>
    </swiper>
    <div class="swiper-button-next" [id]="'next'+index"></div>
    <div class="swiper-button-prev" [id]="'prev'+index"></div>
  </div>
</div>