.videos-carousel{
    margin-bottom: 48px;

    &__header{
        h2{
            font-size: 1.5rem;
            margin: 0;
        }
        p{
            margin-bottom: 16px;
        }
    }

    &__content{
        position: relative;

        .swiper-button-prev{
            left: -35px;
        }

        .swiper-button-next{
            right: -35px;
        }
    }
}