<div>
  <h2>Nombre del centro</h2>
  <p>Descripción del centro</p>
  <div>
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><div class="box_gray">1</div></div>
        <div class="swiper-slide"><div class="box_gray">2</div></div>
        <div class="swiper-slide"><div class="box_gray">3</div></div>
        <div class="swiper-slide"><div class="box_gray">4</div></div>
        <div class="swiper-slide"><div class="box_gray">5</div></div>
        <div class="swiper-slide"><div class="box_gray">6</div></div>
        <div class="swiper-slide"><div class="box_gray">7</div></div>
        <div class="swiper-slide"><div class="box_gray">8</div></div>
        <div class="swiper-slide"><div class="box_gray">9</div></div>
        <div class="swiper-slide"><div class="box_gray">10</div></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</div>