<header class="header flex-row-layout ai-center jc-space-between">
  <div class="header_logo">
    <div class="box_logo" (click)="goToHome()">
      <img src="/assets/images/butiqlive-logo.png" alt="Butiq Live">
    </div>
  </div>
  <div class="header_options flex-row-layout ai-center">
    <div *ngIf="!userIsLogged" class="header_options__buttons" >
      <a [routerLink]="['/auth']" class="ant-btn ant-btn-default">Inicia Sesión</a>
      <a [routerLink]="['/auth/signup']" class="ant-btn ant-btn-primary">Prueba 21 días</a>
    </div>
    <div *ngIf="userIsLogged" class="header_options__buttons" >
      <a [routerLink]="['/home']">Videos</a>
      <div class="dropdown lala" style="float:right;">
        <button class="dropbtn" (click)="showDropdownContent(1)">Mi cuenta</button>
        <div class="dropdown-content" #dropdownContent1>
          <a [routerLink]="['/account/contact']">Cuenta</a>
          <a (click)="onLogout()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header_hamburger">
    <div class="dropdown" style="float:right;" *ngIf="!userIsLogged">
      <button class="dropbtn" (click)="showDropdownContent(2)">Menú</button>
      <div class="dropdown-content" #dropdownContent2>
        <a [routerLink]="['/auth']">Inicia Sesión</a>
        <a [routerLink]="['/auth/signup']">Prueba 21 días</a>
      </div>
    </div>
    <a [routerLink]="['/home']" *ngIf="showVideoLink && userIsLogged">Videos</a>
    <div class="dropdown" style="float:right;" *ngIf="userIsLogged">
      <button class="dropbtn" (click)="showDropdownContent(3)">Mi cuenta</button>
      <div class="dropdown-content" #dropdownContent3>
        <a [routerLink]="['/account/contact']">Cuenta</a>
        <a (click)="onLogout()">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</header>