<header class="header flex-row-layout ai-center jc-space-between">
  <div class="header_logo">
    <div class="box_logo" (click)="goToHome()">
      <img src="/assets/images/butiqlive-logo.png" alt="Butiq Live">
    </div>
  </div>
  <div class="header_options flex-row-layout ai-center">
    <div *ngIf="!userIsLogged" class="header_options__buttons" >
      <a [routerLink]="['/auth']" class="ant-btn ant-btn-default">Inicia Sesión</a>
      <a [routerLink]="['/auth/signup']" class="ant-btn ant-btn-primary">Entrena GRATIS</a>
    </div>
    <div *ngIf="userIsLogged" class="header_options__buttons" >
      <a [routerLink]="['/home']" *ngIf="showVideoLink">Videos</a>
      <nz-dropdown class="header_dropdown" [nzPlacement]="'bottomRight'">
        <a nz-dropdown> Mi cuenta <i nz-icon type="down"></i></a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a [routerLink]="['/account/contact']">Cuenta</a>
          </li>
          <li nz-menu-item (click)="onLogout()">
            <a>Cerrar Sesión</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
  <div class="header_hamburger">
    <nz-dropdown [nzPlacement]="'bottomRight'" *ngIf="!userIsLogged" class="header_dropdown">
      <a nz-dropdown> Menú <i nz-icon type="down"></i></a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <a [routerLink]="['/auth']">Inicia Sesión</a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['/auth/signup']">Entrena GRATIS</a>
        </li>
      </ul>
    </nz-dropdown>
    <nz-dropdown [nzPlacement]="'bottomRight'" *ngIf="userIsLogged" class="header_dropdown">
      <a [routerLink]="['/home']" *ngIf="showVideoLink">Videos</a>
      <a nz-dropdown> Mi cuenta <i nz-icon type="down"></i></a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <a [routerLink]="['/account/contact']">Cuenta</a>
        </li>
        <li nz-menu-item (click)="onLogout()">
          <a>Cerrar Sesión</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</header>