<header class="header flex-row-layout ai-center jc-space-between">
  <div class="header_logo">
    <div class="box_logo">
      <img src="/assets/images/butiqlive-logo.png" alt="Butiq Live">
    </div>
  </div>
  <div class="header_options flex-row-layout ai-center">
    <div class="header_options__buttons">
      <a href="" class="ant-btn ant-btn-default">Log in</a>
      <a href="" class="ant-btn ant-btn-primary">Get Butiq</a>
    </div>
  </div>
  <div class="header_hamburger">
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-submenu>
        <span title>
          Menú <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
        </span>
        <ul>
          <li nz-menu-group>
            <a href="" class="ant-btn ant-btn-default">Log in</a>
          </li>
          <li nz-menu-group>
            <a href="" class="ant-btn ant-btn-primary">Get Butiq</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>