<section class="presentation-videos">
  <div class="presentation-videos__title">
    <h2>Descubre tu clase y estudio favorito</h2>
    <p>Empieza a entrenar YA</p>
  </div>
  <div class="presentation-videos__content">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><div class="box_gray">1</div></div>
        <div class="swiper-slide"><div class="box_gray">2</div></div>
        <div class="swiper-slide"><div class="box_gray">3</div></div>
        <div class="swiper-slide"><div class="box_gray">4</div></div>
        <div class="swiper-slide"><div class="box_gray">5</div></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</section>