@import "../../../../../assets/styles/1-settings/colors.scss";

.presentation-videos{
    text-align: center;
    padding: 40px 0;

    &__title{
        margin-bottom: 40px;

        h2{
            color: $color-accent;
            margin: 0;
        }

        p{
            margin: 0;
        }
    }

    &__content{
        width: 90%;
        margin: auto;

        .video-box{

            &__iframe{
                height: 140px;
            }
        
            &__detail{
                padding-top: 16px;
        
                h3{
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        
        }
    }
}

.box_gray{
    width: 200px;
    height: 200px;
    background-color: #ddd;
}