<form nz-form [nzLayout]="'horizontal'" [formGroup]="resetPasswordFG" (ngSubmit)="onResetPassword()" class="reset-password-form">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="email">Correo electrónico</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixMail">
        <input type="email" nz-input formControlName="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button [nzType]="'primary'" class="reset-password-form__button">Enviar</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
