<form nz-form [nzLayout]="'horizontal'" [formGroup]="signupFG" (ngSubmit)="onSignup()" class="signup-form">
  <nz-form-item class="signup-form__item">
    <nz-form-label nzRequired nzFor="name">Nombres</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="signup-form__item">
    <nz-form-label nzRequired nzFor="lastName">Apellidos</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="lastName"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="signup-form__item">
    <nz-form-label nzRequired nzFor="email">Correo electrónico</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixMail">
        <input type="email" nz-input formControlName="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="signup-form__item">
    <nz-form-label nzRequired nzFor="password">Contraseña</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="signup-form__item">
    <nz-form-control>
      <button nz-button [nzType]="'primary'" class="signup-form__button">Registrarme</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="signup-form__item">
    <p>
      <span>Al registrarme acepto los 
        <a href="">Términos de Uso</a> y 
        <a href="">Políticas de Privacidad</a> de ButiqLive.
      </span>
    </p>
  </nz-form-item>
  <nz-form-item class="signup-form__item text-center">
    <nz-form-control>
      <span>¿Ya tienes una cuenta? <a [routerLink]="['/auth']">Iniciar Sesión</a></span>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>