.main-section{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__sidebar{
        width: 25%;
        background-color: #F7F7F7;
        padding-top: 80px;
    }

    &__content{
        width: 50%;
        padding-top: 80px;
    }
}

@media screen and (max-width: 520px){
    .main-section{
        flex-direction: column;

        &__sidebar{
            width: 100%;
            background-color: #F7F7F7;
            padding-top: 10px;
        }

        &__content{
            width: 100%;
            padding-top: 10px;
        }
    }
}