.sidebar{
    width: 160px;
    float: right;

    &__avatar{
        background-color: #fff;
        border-radius: 50%;
        height: 100px;
        margin-bottom: 30px;
        width: 100px;
    }

    &__nav{
        li{
            padding: 16px 0;

            a{
                font-weight: 500;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}