<section class="how-it-works">
  <h2 class="how-it-works__title"><span>¿Cómo funciona?</span></h2>
  <div class="flex-row-layout flex-wrap jc-center">
    <div>
      <div class="how-it-works__image">
        <img src="/assets/images/landing/how-it-works.png" alt="How it works">
      </div>
    </div>
    <div>
      <div class="how-it-works__content">
        <div class="steps">
          <h3>1. Regístrate y descubre</h3>
          <p>Créate una cuenta para acceder a nuestras clases y descubre todo lo que tenemos para ti.</p>
        </div>
        <div class="steps">
          <h3>2. Encuentra la clase o el programa para ti</h3>
          <p>Por tiempo limitado, créate una cuenta y accede a nuestras clases totalmente gratis.</p>
        </div>
        <div class="steps">
          <h3>3. Entrena y únete a la comunidad </h3>
          <p>Por tiempo limitado, créate una cuenta y accede a nuestras clases totalmente gratis </p>
        </div>
      </div>
    </div>
  </div>
</section>