<section class="how-it-works">
  <h2 class="how-it-works__title"><span>¿Cómo funciona?</span></h2>
  <div class="flex-row-layout flex-wrap jc-center">
    <div>
      <div class="how-it-works__image">
        <img src="/assets/images/landing/how-it-works.png" alt="How it works">
      </div>
    </div>
    <div>
      <div class="how-it-works__content">
        <div class="steps">
          <h3>1. Regístrate y descubre todas nuestras clases</h3>
          <p>Créate una cuenta para acceder a nuestras clases totalmente gratis por tiempo limitado y descubre todo lo que tenemos para ti.</p>
        </div>
        <div class="steps">
          <h3>2. Encuentra el programa o la clase ideal para ti</h3>
          <p>¿Recién empiezas a entrenar o tienes un objetivo específico? Selecciona nuestros programas especiales para guiarte o ten la flexibilidad de elegir las clases que quieras </p>
        </div>
        <div class="steps">
          <h3>3. Entrena y únete a nuestra comunidad</h3>
          <p>¡Queremos acompañarte en este proceso! Hemos creado un grupo exclusivo para motivarnos y compartir, únete aquí a la #TriButiq </p>
        </div>
        <a [routerLink]="['/auth/signup']" class="ant-btn ant-btn-primary">Regístrate</a>
      </div>
    </div>
  </div>
</section>