<div class="collection-view">
  <h1 class="collection-view__title">Titulo de la colección</h1>
  <div class="collection-view__content">
    <div class="collection-view__content_video">
      <video-card></video-card>
    </div>
    <div class="collection-view__content_video">
      <video-card></video-card>
    </div>
    <div class="collection-view__content_video">
      <video-card></video-card>
    </div>
    <div class="collection-view__content_video">
      <video-card></video-card>
    </div>
  </div>
</div>