<div class="home-hero">
  <div class="home-hero__content">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a [routerLink]="['/home/collection']">
            <div class="box-video" style="background-image: url('/assets/images/butiqlive-logo.png');">
              <div class="box-video_detail">
                Nombre de la colección
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a [routerLink]="['/home/collection']">
            <div class="box-video" style="background-image: url('/assets/images/butiqlive-logo.png');">
              <div class="box-video_detail">
                Nombre de la colección
              </div>
            </div>
          </a>
        </div>
      </div>
    </swiper>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>