<div class="home-hero">
  <div class="home-hero__title">
    <div class="home-hero__title_main">
      <h1><span>¡COMIENZA A ENTRENAR YA!</span></h1>
    </div>
    <div class="home-hero__title_subtitle">
      <h2>Selecciona un programa exclusivamente diseñado según tus objetivos</h2>
    </div>
  </div>
  <div class="home-hero__content">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let collection of listOfCollections">
          <div (click)="goToCollection(collection.id)">
            <div class="box-video"
            [ngStyle]="{'background-image': 'url(' + collection.previewImage + ')'}">
              <div class="box-video_detail">
                {{collection.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>