<section class="simple-hero" 
  [ngClass]="{
    'simple-hero__left': style.contentToLeft, 
    'simple-hero__right': style.contentToRight,
    'simple-hero__gray': style.backgroundColorGray
  }">
  <div class="simple-hero__box flex-row-layout jc-space-between">
    <div class="simple-hero__box__content flex-col-layout jc-center">
      <h2>Es un subtítulo cool</h2>
      <p>Lorem .........</p>
    </div>
    <div class="simple-hero__box__image flex-col-layout jc-center">
      <img src="/assets/images/butiqlive-logo.png" alt="Image">
    </div>
  </div>
</section>
