.simple-hero{
    padding: 32px 0;

    &__gray{
        background-color: #f7f7f7;
    }

    &__left{
        .simple-hero__box__image{
            order: 2;
        }
    }

    &__right{
        .simple-hero__box__content{
            order: 2;
        }
    }

    &__box{
        margin: 0 auto;
        max-width: 1000px;

        &__content{
            padding: 16px 16px 0;
            text-align: center;
    
            h2, p{
                margin-bottom: 16px;
            }
    
        }
    
        &__image{
            position: relative;
    
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 48em){
    .simple-hero{
        padding: 48px 24px;

        &__box{

            &__content{
                padding: 16px;
                text-align: left;
            }

            &__image{
                flex: 0 0 calc(50% - 16px);
            }
        }
    }
}

@media screen and (max-width: 520px){
    .simple-hero{
        padding: 32px 0;

        &__right{
            .simple-hero__box__image{
                order: 2;
            }
        }

        &__box{
            flex-direction: column;
        }
    }
}