<footer class="footer">
  <div class="footer_main flex-row-layout flex-wrap jc-space-around">
    <div class="text-center">
      <div class="box_information">
        <div class="box_logo">
          <img src="/assets/images/butiqlive-logo-negativo.png" alt="Butiq Live">
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="box_information">
        <h5>Contacto</h5>
        <div>
          <p>Email: hola@butiqlive.com</p>
          <p>Whatsapp: +51 999999999</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="box_information">
        <h5>Síguenos</h5>
        <div>
          <a [href]="butiqlive_social.FACEBOOK" target="_blank">
            <i nz-icon nzType="facebook" nzTheme="outline"></i>
          </a>
          <a [href]="butiqlive_social.INSTAGRAM" target="_blank">
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_second text-center">
    <p>#DareYourself</p>
  </div>
</footer>
