@import "../../../../../assets/styles/main.scss";

.hero{
    height: 100vh;
    margin-top: -62px;

    &__box{
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;

        &__content{
            order: 1;
            padding: 0 10px 0 30px;

            .box_text{
                width: 90%;
                p{
                    width: 90%;
                    font-size: 1.5rem;
                }
            }
    
            h1, p{
                margin-bottom: 16px;
            }

            h1 > span{
                background: $color-accent;
                font-size: 2.75rem;
            }
    
        }
    
        &__image{
            order: 2;
            background-image: url('../../../../../assets/images/landing/hero.png');
            background-position: center;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            max-height: 1000px;
        }
    }
}

@media screen and (max-width: 520px){
    .hero{
        &__box{
            flex-direction: column;
            justify-content: center;

            &__content{
                align-items: center;
                text-align: center;
                order: 2;
                padding: 16px 16px 0;

                .box_text{
                    width: 100%;
    
                    p{
                        width: 100%;
                        font-size: 1rem;
                    }
                }
        
                h1 > span{
                    font-size: 2rem;
                }
            }

            &__image{
                order: 1;
            }
        }
    }
}