<section class="hero">
  <div class="hero__box flex-row-layout ai-center">
    <div class="hero__box__content jc-center hero__box__image jc-center">
      <div class="box_text">
        <h1>
          <span>Las clases online de tus estudios fitness favoritos ahora en un solo lugar</span>
        </h1>
        <p>Desde entrenamiento funcional hasta yoga y barre, clases exclusivas para que las hagas en cualquier momento y lugar.</p>
        <a [routerLink]="['/auth/signup']" class="ant-btn ant-btn-primary">Empieza a entrenar</a>
      </div>
    </div>
    <!-- <div class="hero__box__image jc-center"></div> -->
  </div>
</section>