$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #333534;
$color-primary-lighter: #BCBDC0;
$color-primary-darker: #57585A;

$color-accent: #B09A63;
$color-accent-lighter: lighten($color-accent,35%);
$color-accent-darker: #B09A63;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);