<section class="contact-form">
  <h1>Información de Contacto</h1>
  <form nz-form [formGroup]="contactFG" (ngSubmit)="onSubmit()">
    <div class="contact-form__main">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Nombres</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="name"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Apellidos</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="lastName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item class="contact-form_item">
        <nz-form-label>Dirección</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="address"/>
        </nz-form-control>
      </nz-form-item>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Ciudad</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="cityName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Estado / Provincia / Region</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="provinceName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>País</nz-form-label>
            <nz-form-control>
              <nz-select style="width: 100%;" formControlName="countryId" nzPlaceHolder="Selecciona" nzAllowClear >
                <nz-option *ngFor="let country of countries" [nzValue]="country.id" 
                [nzLabel]="country.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Celular</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="phoneNumber"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="contact-form__emergency">
      <h2>Contacto de Emergencia</h2>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Nombre</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="emergencyContactName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Celular</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="emergencyContactPhone"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="contact-form__profile">
      <h2>Perfil</h2>
      <div>
        <nz-form-item class="contact-form_item">
          <nz-form-label>Género</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="gender">
              <label nz-radio nzValue="FEMALE">Femenino</label>
              <label nz-radio nzValue="MALE">Masculino</label>
              <label nz-radio nzValue="OTHER">Prefiero no decir</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Cumpleaños</nz-form-label>
            <nz-form-control>
              <input type="date" nz-input formControlName="birthDate"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item class="contact-form_item">
            <nz-form-label>Peso (en Kg)</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="weight"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="contact-form__button">
      <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'">Guardar</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</section>