.contact-form{
    width: 90%;
    margin: auto;
    
    h1{
        font-size: 1.5rem;
    }

    &_item{
        margin: 0;
    }

    &__main{

    }

    &__emergency, &__profile{
        h2{
            font-size: 1rem;
            margin: 0;  
        }
    }

    &__emergency{
        padding: 20px 0;
    }

    &__profile{
        border-top: 1px solid #e7e7e7;
        padding-top: 20px;
    }

    &__button{
        margin-top: 10px;

    }
}