@import "../../../../assets/styles/1-settings/colors.scss";

.home-view{
    width: 80%;
    margin: auto;

    &__hero{
        padding: 0 28px;
    }

    &__videos{
        padding: 0 28px;

        &_title{
            h2{
                color: $color-accent;
                font-size: 28px;
                margin: 20px 0;
            }
        }
    }
}