<form nz-form [nzLayout]="'horizontal'" [formGroup]="loginFG" (ngSubmit)="onLogin()" class="login-form">
  <nz-form-item class="login-form__item">
    <nz-form-label nzRequired nzFor="email">Correo electrónico</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixMail">
        <input type="text" nz-input formControlName="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="login-form__item">
    <nz-form-label nzRequired nzFor="password">Contraseña</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="login-form__item">
    <nz-form-control>
      <button nz-button [nzType]="'primary'" class="login-form__button">Iniciar Sesión</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="login-form__item">
    <p>
      <span>Si te olvidaste tu contraseña por favor mándanos un correo a hola@butiqlive.com para poder ayudarte :)</span>
    </p>
  </nz-form-item>
</form>
<ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
