<div class="video-detail">
  <div class="video-detail__content flex-row-layout flex-wrap jc-space-between">
    <div class="video-detail__content__description">
      <div class="video-detail__content__description_main">
        <h1>{{video.title}}</h1>
        <p>
          <span class="text-bold">Instructor(a): </span>
          <span *ngFor="let i of video.instructors; let isLast=last">
            {{i.name}} {{isLast ? '' : ', '}}
          </span>
        </p>
        <p>
          <span class="text-bold">Dificultad: </span>
          <span>{{butiqlive_difficulty[video.difficultyLevel]}}</span>
        </p>
        <p>
          <span class="text-bold">Qué vas a necesitar: </span>
          <span *ngFor="let equip of video.equipments; let isLast=last">
            {{equip.name}} {{isLast ? '' : ', '}}
          </span>
        </p>
      </div>
      <div class="video-detail__content__description_secondary">
        <h2>Sobre la clase</h2>
        <div class="description_item">
          <p>{{video.description}}</p>
        </div>
      </div>
    </div>
    <div class="video-detail__content__social">
      <div class="video-detail__content__social_box">
        <div class="box-image">
          <img src="/assets/images/butiqlive-logo.png">
        </div>
        <div class="box-text text-center">
          <p>Únete a nuestro team</p>
          <div>
            <a [href]="butiqlive_social.FACEBOOK" target="_blank">
              <i nz-icon nzType="facebook" nzTheme="outline"></i>
            </a>
            <a [href]="butiqlive_social.INSTAGRAM" target="_blank">
              <i nz-icon nzType="instagram" nzTheme="outline"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>