<div class="video-detail">
  <div class="video-detail__content flex-row-layout flex-wrap jc-space-between">
    <div class="video-detail__content__description">
      <div class="video-detail__content__description_main">
        <h1>{{video.title}}</h1>
        <p>
          <span class="text-bold">Instructor(a): </span>
          <span *ngFor="let i of video.instructors; let isLast=last">
            {{i.name}} {{isLast ? '' : ', '}}
          </span>
        </p>
        <p>
          <span class="text-bold">Dificultad: </span>
          <span>{{video.difficultyLevel}}</span>
        </p>
      </div>
      <div class="video-detail__content__description_secondary">
        <h2>Sobre la clase</h2>
        <div class="description_item">
          <h3>Lo que harás</h3>
          <p>{{video.description}}</p>
        </div>
        <div class="description_item">
          <h3>Foco del ejercicio</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit netus, blandit dui conubia quisque venenatis sem malesuada. Parturient per sollicitudin bibendum nascetur tellus volutpat purus est turpis vel semper, etiam condimentum nibh tincidunt vivamus quis tortor convallis mattis facilisi nullam taciti, morbi habitant iaculis dignissim sociis eros ultrices blandit suscipit integer. Congue lectus odio suspendisse enim pulvinar, mollis ac nostra vestibulum turpis leo, dictum quis nunc ad.</p>
        </div>
        <div class="description_item">
          <h3>Que vas a lograr</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit netus, blandit dui conubia quisque venenatis sem malesuada. Parturient per sollicitudin bibendum nascetur tellus volutpat purus est turpis vel semper, etiam condimentum nibh tincidunt vivamus quis tortor convallis mattis facilisi nullam taciti, morbi habitant iaculis dignissim sociis eros ultrices blandit suscipit integer. Congue lectus odio suspendisse enim pulvinar, mollis ac nostra vestibulum turpis leo, dictum quis nunc ad.</p>
        </div>
      </div>
      <div class="video-detail__content__description_secondary">
        <h2>Que vás a necesitar</h2>
        <div class="description_list">
          <ul>
            <li>lalala</li>
            <li>lalala</li>
            <li>lalala</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="video-detail__content__social">
      <div class="video-detail__content__social_box">
        <div class="box-image">
          <img src="/assets/images/butiqlive-logo.png">
        </div>
        <div class="box-text text-center">
          <p>Únete a nuestro team</p>
          <div>
            <a [href]="butiqlive_social.FACEBOOK" target="_blank">
              <i nz-icon nzType="facebook" nzTheme="outline"></i>
            </a>
            <a [href]="butiqlive_social.INSTAGRAM" target="_blank">
              <i nz-icon nzType="instagram" nzTheme="outline"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>