<section class="testimonies">
  <div class="testimonies__title">
    <h2>Mira lo que dicen de nosotros</h2>
  </div>
  <div class="testimonies__content">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonies__content__item flex-row-layout jc-center">
            <div>
              <div class="testimonies__content__item_image">
                <img src="../../../../../assets/images/landing/how-it-works.png" alt="Imagen">
              </div>
            </div>
            <div>
              <div class="testimonies__content__item_text">
                <p>"No tenía tiempo para entrenar por mis clases de la universidad, con Butiq Live he encontrado una forma rápida y divertida de mantenerme activa"</p>
                <div class="who">
                  <p>Diana Navarro</p>
                  <p>22 años</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonies__content__item flex-row-layout jc-center">
            <div>
              <div class="testimonies__content__item_image">
                <img src="../../../../../assets/images/landing/how-it-works.png" alt="Imagen">
              </div>
            </div>
            <div>
              <div class="testimonies__content__item_text">
                <p>"Complemento mis días de running con las clases de cardio y yoga en  Butiq Live. Además ya no tengo excusas para dejar de entrenar si hace frío, llueve o si el tráfico está terrible para moverme, siempre a un clic"</p>
                <div class="who">
                  <p>Jessika Castellano</p>
                  <p>24 años</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonies__content__item flex-row-layout jc-center">
            <div>
              <div class="testimonies__content__item_image">
                <img src="../../../../../assets/images/landing/how-it-works.png" alt="Imagen">
              </div>
            </div>
            <div>
              <div class="testimonies__content__item_text">
                <p>"Me encanta descubrir nuevas clases y  cómo los coaches te motivan full en la clases como si estuvieran ahí conmigo. Lo más increíble es que cuando viajo puedo seguir con mis rutinas"</p>
                <div class="who">
                  <p>Maria Laura Langswhager</p>
                  <p>26 años</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </swiper>
  </div>
</section>