@import "../../../../../assets/styles/1-settings/colors.scss";

.testimonies{
    padding: 40px 0;

    &__title{
        margin-bottom: 40px;
        text-align: center;

        h2{
            color: $color-accent;
            margin: 0;
        }
    }

    &__content{

        &__item{
            padding: 20px 0;

            &_image{
                max-width: 150px;
                width: 90%;
                margin: 0 auto 30px;

                img{
                    width: 100%;
                }
            }

            &_text{
                font-size: 1.10rem;
                max-width: 500px;
                margin: auto;
                width: 90%;

                .who{
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}